@import 'compass/css3';
@import 'bootstrap';

a.new {
  @extend .btn;
}

table.records {
  @extend .table;
  @extend .table-condensed;
  @extend .striped-table;
  a {
    @include inline-block;
    margin-right: 5px;
  }
  td {
    vertical-align: middle;
  }
}

form {
  @extend .form;

  .input {
    > * {
      @include inline-block;
    }
  }

  fieldset.variant {
    width: 300px;
  }
}

.pagination {
  a {
    line-height: 20px;
    padding: 0 10px;
  }
}

.scopes {
  @extend .btn-group;
  list-style: none;
  .scope {
    @extend .btn;
  }
  .count {
    @include inline-block;
    @extend .badge;
    @extend .badge-info;
    vertical-align: top;
    margin-left: 6px;
  }
  .scope.current {
    @extend .btn-primary;
    .count {
      @extend .badge-inverse;
    }
  }
}

.sortings {
  @extend .btn-group;
  list-style: none;
  .sorting {
    @extend .btn;
  }
  .sorting.current {
    @extend .btn-primary;
  }
}

.sort-directions {
  @extend .btn-group;
  .sort-direction {
   @extend .btn;
  }
  .sort-direction.current {
    @extend .btn-primary;
  }
}

header {
  @include box-shadow(rgba(0,0,0,0.5) 0 0 3px inset);
  @include background(
    linear-gradient(white, rgb(224, 224, 224))
  );
  overflow: hidden;

  margin-bottom: 10px;

  > * {
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    position: relative;
    top: 10px;
    @include text-shadow(#fff 0px 1px 0);
  }

  label {
    margin-left: 10px;
    font-weight: bold;
  } 

  nav {
    margin-bottom: 10px;
    padding-left: 20px;

    a {
      color: #454545;
      padding: 5px 10px;

      &.current {
        background: white;
        @include box-shadow(rgba(0,0,0,0.5) 0 0 3px);
        @include border-radius(3px);
      }

      &:hover {
        color: #454545;
      }
    }
  }
}

.alert {
  @extend .alert-block;
  @extend .alert-error;
}

.notice {
  @extend .alert-block;
  @extend .alert-success;
}

.tree li {
  margin-left: 10px;
  label > * {
    @include inline-block;
  }
}