@import 'select2';
@import 'compass/css3';
@import 'bootstrap';

a.new {
  @extend .btn;
}

table.records {
  @extend .table;
  @extend .table-condensed;
  @extend .striped-table;
  a {
    @include inline-block;
    margin-right: 5px;
  }
  td {
    vertical-align: middle;
  }
  thead {
    position: -webkit-sticky;
    top: 0px;
  }
  .table-group-heading {
    background-color: #eee;
  }

  [data-method] {
    @extend .btn;
    @extend .btn-mini;

    &.destructive {
      @extend .btn-danger;
      float: right;
    }

    &.constructive {
      @extend .btn-success;
    }
  }

  .actions {
    white-space: nowrap;
  }
}

form {
  @extend .form;

  .input {
    > * {
      @include inline-block;
      vertical-align: top;

      &.hint {
        vertical-align: bottom;
      }
    }
  }
  .input.boolean {
    width: 300px;
  }
  label.checkbox {
    width: 50px;
    @include inline-block;
  }
}

.yes, .no {
  @include inline-block;
  font-weight: bold;
  padding-left: 1em
}

.yes {
  color: green;
}

.no { 
  color: red
}

.buttons {
  margin: 2em auto;
  a {
    @extend .btn;
    margin-right: 1em;
  }
}

[view=show], [view=new], [view=edit] { 
  #content {
    @extend .container;
    margin: 0 auto;
  }
}

dl {
  dt, dd {
    @include inline-block;
    line-height: 18px;
    margin-bottom: 0.6em;
    vertical-align: top;
    em {
      font-weight: normal;
      font-size: 10px;
      vertical-align: top;
    }
  }
  dt {
    @extend .lead;
    @extend .span2;
    font-weight: bold;
    font-size: 14px;
    clear: left;
    text-align: right;
  }
  dd {
    @extend .span4;
  }
}

.filters {
  width: 200px;
  float: left;
  text-align: right;
  h3 {
    text-align: left;
    margin-top: 1em;
  }
  [type=search] {
    width: 190px;
    margin-bottom: 0;
  }
  .form {
    width: auto;
  }
  select {
    width: auto;
  }
}

.listing.filtered {
  margin-left: 220px;
}

.pagination {
  @include inline-block;
  .pagination { display: none; }

  margin: 0;
  padding: 0;

  ol {
    margin: 0;
    padding: 0;
    margin-top: 7px;
    margin-left: 10px;
  }
  a {
    line-height: 20px;
    padding: 0 10px;
  }
}

.scopes {
  list-style: none;
  @include clearfix;
  .scope {
    @extend .btn;
    @include border-radius(0);
    @include clearfix;
    text-align: right;
    display: block;
    float: none;
  }
  .count {
    @include inline-block;
    @extend .badge;
    @extend .badge-info;
    vertical-align: top;
    margin-left: 6px;
    float: left;
  }
  .scope.current {
    @extend .btn-primary;
    .count {
      @extend .badge-inverse;
    }
  }
}

.sortings {
  list-style: none;
  .sorting {
    @extend .btn;
    @include border-radius(0);
    @include clearfix;
    text-align: right;
    display: block;
    float: none;
  }
  .sorting.current {
    @extend .btn-primary;
  }
}

.sort-directions {
  @extend .btn-group;
  .sort-direction {
    @extend .btn;
    float: none;
    font-size: 12px;
  }
  .sort-direction.current {
    @extend .btn-primary;
  }
}

header {
  @include box-shadow(rgba(0,0,0,0.5) 0 0 3px inset);
  @include background(
    linear-gradient(white, rgb(224, 224, 224))
  );
  overflow: hidden;

  margin-bottom: 10px;

  > * {
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    position: relative;
    top: 10px;
    @include text-shadow(#fff 0px 1px 0);
  }

  label {
    margin-left: 10px;
    font-weight: bold;
  } 

  nav {
    margin-bottom: 10px;
    padding-left: 20px;

    a {
      color: #454545;
      padding: 5px 10px;

      &.current {
        background: white;
        @include box-shadow(rgba(0,0,0,0.5) 0 0 3px);
        @include border-radius(3px);
      }

      &:hover {
        color: #454545;
      }
    }
  }
}

.has-many .create {
  @extend .btn;
}

form { 
  @extend .container;
  margin: 0 auto;
  input, select {
  }
  select.datetime {
    width: auto;
  }
  label {
    @extend .span2;
    @extend .lead;
    padding-right: 10px;
    text-align: right;
  }
  .input {
    @extend .span10
  }
  .input.boolean {
    @extend .span3;
    paddin-right: 20px; 
    input {
      float: right;
      margin-right: 56px;
      margin-top: 8px;
    }
  }
  [type=submit] {
    @extend .btn;
    @extend .btn-primary;
    float: right;
  }
}

.notice {
  margin: 0;
  padding-left: 1em;
}

.alert {
  @extend .alert-block;
  @extend .alert-error;
}

.notice {
  @extend .alert-block;
  @extend .alert-success;
}

.tree li {
  margin-left: 10px;
  label > * {
    @include inline-block;
  }
}