.stack-item-container {
  position: relative;

  .stack-item-title {
     @extend .lead;
  }

  .stack-item {
    @include border-radius(10px);
    position: absolute;
    border: 2px solid rgba(99, 99, 127, 0.55);
    padding: 10px;
    padding-top: 0;
    background: white;
    list-style: none;
    right: 40px;
  }

  .stack-item-under {
    width: 960px;
    background: #eee;
  }
  .stack-item-top {
    @include box-shadow(0 0 3px 1px rgb(207, 207, 207));
  }
}

[view=index] .stack-item {
  width: auto !important;
}